.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 80px;
  position: relative;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
