@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

:root {
  --background: 38 7% 95%;
  --foreground: 38 5% 0%;
  --card: 38 7% 90%;
  --card-foreground: 38 5% 10%;
  --popover: 38 7% 95%;
  --popover-foreground: 38 95% 0%;
  --primary: 38 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 38 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 0 10% 85%;
  --muted-foreground: 38 5% 35%;
  --accent: 0 10% 80%;
  --accent-foreground: 38 5% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 38 5% 90%;
  --border: 38 20% 50%;
  --input: 38 20% 18%;
  --ring: 38 100% 50%;
  --radius: 0.5rem;
}
.dark {
  --background: 38 10% 5%;
  --foreground: 38 5% 90%;
  --card: 38 7% 0%;
  --card-foreground: 38 5% 90%;
  --popover: 38 10% 5%;
  --popover-foreground: 38 5% 90%;
  --primary: 38 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 38 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 0 10% 15%;
  --muted-foreground: 38 5% 60%;
  --accent: 0 10% 15%;
  --accent-foreground: 38 5% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 38 5% 90%;
  --border: 38 20% 18%;
  --input: 38 20% 18%;
  --ring: 38 100% 50%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  :root {
    --sidebar-background: 38 7% 92%;
    --sidebar-foreground: 38 5% 15%;
    --sidebar-primary: 38 100% 50%;
    --sidebar-primary-foreground: 38 5% 90%;
    --sidebar-accent: 38 10% 80%;
    --sidebar-accent-foreground: 38 5% 20%;
    --sidebar-border: 38 20% 50%;
    --sidebar-ring: 38 100% 45%;
  }
  .dark {
    --sidebar-background: 38 10% 10%;
    --sidebar-foreground: 38 5% 85%;
    --sidebar-primary: 38 30% 30%;
    --sidebar-primary-foreground: 38 5% 90%;
    --sidebar-accent: 38 15% 20%;
    --sidebar-accent-foreground: 38 5% 85%;
    --sidebar-border: 38 20% 25%;
    --sidebar-ring: 38 100% 40%;
  }
}
/* :root {
  --sidebar-background: 0 0% 98%;
  --sidebar-foreground: 240 5.3% 26.1%;
  --sidebar-primary: 240 5.9% 10%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 240 4.8% 95.9%;
  --sidebar-accent-foreground: 240 5.9% 10%;
  --sidebar-border: 220 13% 91%;
  --sidebar-ring: 217.2 91.2% 59.8%;
}
.dark {
  --sidebar-background: 240 5.9% 10%;
  --sidebar-foreground: 240 4.8% 95.9%;
  --sidebar-primary: 224.3 76.3% 48%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 240 3.7% 15.9%;
  --sidebar-accent-foreground: 240 4.8% 95.9%;
  --sidebar-border: 240 3.7% 15.9%;
  --sidebar-ring: 217.2 91.2% 59.8%;
} */
