@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark theme as default */
:root {
  --background: 38 10% 5%;
  --foreground: 38 5% 90%;
  --card: 38 7% 0%;
  --card-foreground: 38 5% 90%;
  --popover: 38 10% 5%;
  --popover-foreground: 38 5% 90%;
  --primary: 38 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 38 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 0 10% 15%;
  --muted-foreground: 38 5% 60%;
  --accent: 0 10% 15%;
  --accent-foreground: 38 5% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 38 5% 90%;
  --border: 38 20% 18%;
  --input: 38 20% 18%;
  --ring: 38 100% 50%;
  --radius: 0.5rem;

  --sidebar-background: 38 10% 10%;
  --sidebar-foreground: 38 5% 85%;
  --sidebar-primary: 38 30% 30%;
  --sidebar-primary-foreground: 38 5% 90%;
  --sidebar-accent: 38 15% 20%;
  --sidebar-accent-foreground: 38 5% 85%;
  --sidebar-border: 38 20% 25%;
  --sidebar-ring: 38 100% 40%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
