@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 11.6 15.2% 6%;
  --foreground: 11.6 0.7% 91.9%;
  --card: 11.6 6.5% 1.9%;
  --card-foreground: 11.6 0.7% 91.9%;
  --popover: 11.6 15.2% 5%;
  --popover-foreground: 11.6 0.7% 91.9%;
  --primary: 11.6 100% 68.6%;
  --primary-foreground: 0, 0%, 0%;
  --secondary: 11.6 12.6% 11.9%;
  --secondary-foreground: 0 0% 100%;
  --muted: 49.6 12.6% 16.9%;
  --muted-foreground: 11.6 0.7% 61%;
  --accent: 49.6 12.6% 16.9%;
  --accent-foreground: 11.6 0.7% 91%;
  --destructive: 0 56.5% 33.8%;
  --destructive-foreground: 11.6 0.7% 91.9%;
  --border: 11.6 21.3% 24.1%;
  --input: 11.6 21.3% 24.1%;
  --ring: 11.6 100% 68.6%;
  --radius: 0.5rem;
  --sidebar-background: 12, 15%, 8%;
  --sidebar-foreground: 12, 1%, 100%;
  --sidebar-primary: 12, 100%, 55%;
  --sidebar-primary-foreground: 0, 0%, 0%;
  --sidebar-accent: 50, 13%, 14%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 12, 21%, 23%;
  --sidebar-ring: 11.6 100% 68.6%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .gradient-text {
    background: linear-gradient(90deg, #ff7e5f, #ff9b4e);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .gradient-bg {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
